.save
{
    background-color:$salmon;
    display:flex;
    flex-direction: column;
    padding: 20px;
}

.save__first-line{
    color: white;
    font-weight: 500;
    font-size: 3em;
    font-variant-caps: small-caps;
    padding:0;
    margin:0;
}

.save__second-line{
    color: white;
    font-weight: 100;
    font-size: 2em;
    padding-top:10px;
    margin:0;
}