.save
{
    background-color:$salmon;
    height:300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.save__first-line{
    color: white;
    font-weight: 500;
    font-size: 3em;
    font-variant-caps: small-caps;
    padding:0;
    margin:0;
}

.save__second-line{
    color: white;
    font-weight: 100;
    font-size: 2em;
    padding-top:10px;
    margin:0;
}

.contact-container{
    display:flex;
    flex-direction:column;
    padding-top: 50px;
    height:300px;
    >h2{
        text-align:center;
    }
}
.contact{
    display:flex;
    flex-direction:row;
    justify-content: center;
    font-size: 2em;
    padding: 15px;
    @media (max-width: 599px) {
        font-size: 1em;
        flex-direction:column;
        text-align: center;
        }
    &__info{
        &__mail{
            color:grey;
            font-size:1em;
            text-align:center;
            font-style:italic
        }
    }
}
.space{
    width: 10px;
}

.contact__info__mail:hover{
    color: $salmon;
}

.italic{
    font-style: italic;
}

.salmon{
    color:$salmon;
    font-weight: 600;
}