.join{
    &__line{
        font-size: 1.5em;
        text-align: center;
    }
    &__types{
        font-size: 1em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        padding: 40px;
        @media (max-width: 599px) {
            flex-direction: column;
            flex-wrap: no-wrap;
            }
        &__explain {
            @media (max-width: 599px) {
                width: 100%;
                }
            &__container{
                display:flex;
                flex-direction:column;
                justify-content: space-between;
                text-align:center;
                padding:20px;
                >p {
                    margin-bottom: 20px;
                    margin-top: 1px;
                    font-size: 1.3em;
                    color:$salmon;
                }
                >.fas{
                   margin-left: auto;
                   margin-right:auto;
                   padding: 10px;
                   color:$salmon;
                   &__place{
                       margin:0;
                       padding:0;
                       display:flex;
                       flex-direction:column;
                   }
                }
            }
        }
    }
}

.fifty {
    width: 50%;
}

.thirty {
    width: 33%;
}

p {
    margin:0;
}