.prog-img{
    background-image: url("/public/img/Photo\ M+G\ .JPG");
    min-height: 400px;
    width:60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 599px) {
        width:100%;
        min-height: 200px;
        }
  }

.prog{
    margin-left:auto;
    margin-right:auto;
}
.prog-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 599px) {
        flex-direction: column;
        }
}

.histoire
{
   display:flex;
   flex-direction:row;
   justify-content: space-around;
   @media (max-width: 599px) {
    flex-direction:column;
    }
   >p{
    text-align: justify;
    margin-left:auto;
    margin-right:auto;
    @media (max-width: 599px) {
        width:80%;
        font-size: 0.8em;
        padding: 0%;
        }
    }
}

.prog__child{
    margin-right: auto;
    margin-left: auto;
}

section{
    @media (max-width: 599px) {
        margin-bottom: 50px;
        }
}
.planning{
  display:flex;
  padding-top:20px;
  flex-direction: column;
  text-align: center;
    &__container{
        display:flex;
        flex-direction: column;
        text-align:center;
        justify-content: space-evenly;
        @media (max-width: 599px) {
            flex-direction: column;
            padding-bottom: 15px;
            }
            >p{
                padding:0;
                margin:0;
                color:$salmon;
            }
            >h2{
                font-size: 1em;
            }
            &__title{
                display:flex;
                flex-direction: row;
                justify-content: center;
                @media (max-width: 599px) {
                    justify-content: left;
                    }
                >.fas{
                    margin-top: auto;
                    margin-bottom:auto;
                    text-align:right;
                    font-size:1em;
                    color:$salmon;
                    font-size: 1em;
                    padding:20px;
                }
                >h3{
                    margin: 1px 1px 20px 1px;
                    @media (max-width: 599px) {
                        font-size:1.5em;
                        text-align: left;
                        padding-left:20px;
                        }
                }
            }
        &__place{
            color: #5D5D5D;
            display:flex;
            flex-direction:column;
            @media (max-width: 599px) {
                width: 100%;
                }
            >h2{
                font-variant-caps:small-caps ;
                }
            >p{
                font-size: 1em ;
                line-height: 0.7;
                margin:0;
                @media (max-width: 599px) {
                    line-height: 1.2;
                    text-align: left;
                    padding-left:20px;
                    }
                }
            &__lines{
                display:flex;
                flex-direction: column;
                color: #5D5D5D;
                text-align: center;
                padding-bottom: 20px;
                &__event{
                    text-align:justify;
                    padding-bottom:10px;
                    padding-top:10px;
                    text-align:center;
                }
            }
        }
    }
}


.height-planning{
height:800px;
@media (max-width: 599px) {
    height:500px;
    }
}
