.prog-img{
    background-image: url("/public/img/Photo\ M+G\ .JPG");
    min-height: 600px;
    width:70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 599px) {
        width:100%;
        min-height: 200px;
        }
  }

.prog-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.histoire
{
   display:flex;
   flex-direction:row;
   justify-content: space-around;
   @media (max-width: 599px) {
    flex-direction:column;
    }
   >p{
    text-align: justify;
    margin-left:auto;
    margin-right:auto;
    @media (max-width: 599px) {
        width:80%;
        font-size: 0.8em;
        padding: 0%;
        }
    }
}

.prog__child{
    margin-right: auto;
    margin-left: auto;
}

.planning{
  display:flex;
  padding-top:20px;
  flex-direction: column;
  text-align: center;
    &__container{
        display:flex;
        flex-direction: column;
        text-align:center;
        justify-content: space-evenly;
        @media (max-width: 599px) {
            flex-direction: column;
            }
        &__place{
            color: #5D5D5D;
            @media (max-width: 599px) {
                width: 100%;
                height:500px;
                }
            >h2{
                font-variant-caps:small-caps ;
                }
            >p{
                font-size: 1em ;
                line-height: 0.7;
                @media (max-width: 599px) {
                    line-height: 1.2;
                    }
                }
            &__lines{
                display:flex;
                flex-direction: column;
                color: #5D5D5D;
                text-align: center;
                padding-bottom: 20px;
                &__event{
                    text-align:justify;
                    padding-bottom:10px;
                    padding-top:10px;
                    text-align:center;
                }
            }
        }
    }
}


.height-planning{
height:800px;
@media (max-width: 599px) {
    height:500px;
    }
}

.fas{
color:$salmon;
font-size: 1.5em;
width: 50px;
}
