@charset "UTF-8";
a {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.parallax {
  /* The image used */
  background-image: url("./public/img/lieu/GARANCE-MAXIME.jpg");
  /* Set a specific height */
  min-height: 900px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 599px) {
  .parallax {
    background-size: contain;
    min-height: 450px;
    background-attachment: unset;
    padding-top: 0;
    background-position: bottom;
  }
}

.img-liste {
  background-image: url("/public/img/M+G Bateau.JPG");
  min-height: 500px;
  width: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 599px) {
  .img-liste {
    width: 100%;
    min-height: 200px;
  }
}

.gift {
  color: white;
  text-align: center;
  font-weight: 500;
  padding: 10px 20px 10px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 300px;
  margin-top: 100px;
  width: auto;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: auto;
}

@font-face {
  font-family: "Notera";
  src: url("./public/font/Notera_PersonalUseOnly.ttf");
}
@font-face {
  font-family: "Priyati";
  src: url("./public/font/Priyati-Regular.ttf");
}
body {
  font-family: "Priyati", "Times", serif;
  font-size: 1.8em;
}
@media (max-width: 599px) {
  body {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

h1 {
  font-family: "Notera", sans-serif;
  font-size: 4.5em;
  text-align: center;
  margin: 0;
  font-weight: 100;
  background-attachment: fixed;
}
@media (max-width: 599px) {
  h1 {
    font-size: 2em;
  }
}

.names {
  padding-top: 80px;
}
@media (max-width: 599px) {
  .names {
    padding-top: 0;
  }
}

h1:hover {
  color: #486982;
  font-weight: 200;
  transition: 0.3s;
}

p {
  font-family: "Priyati", sans-serif;
  font-size: 1.3em;
  text-align: center;
  color: #5D5D5D;
}

h2 {
  color: #5D5D5D;
  font-weight: 100;
  font-size: 2em;
  text-align: center;
  margin: 10px;
}
@media (max-width: 599px) {
  h2 {
    font-size: 1.5em;
    width: 100%;
  }
}

h3 {
  font-family: "Notera", serif;
  text-align: center;
  font-size: 2em;
  margin: 0;
  font-weight: 100;
  background-attachment: fixed;
  padding-top: 20px;
  margin: 50px;
}
@media (max-width: 599px) {
  h3 {
    font-size: 2em;
  }
}

.favourite {
  border: none;
  background: none;
  align-self: center;
}

.fa-heart:hover::before, .fa-heart:active::before {
  background: linear-gradient(#9356DC, #FF79DA);
  font-weight: bold;
  /*background prend la forme du coeur*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.map {
  width: 100%;
  height: 500px;
}
@media (max-width: 599px) {
  .map {
    width: 100%;
    height: 300px;
  }
}

.carré-gris-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: center;
  flex-flow: row wrap;
  padding: 30px;
}
@media (max-width: 599px) {
  .carré-gris-container {
    padding: 10px;
    width: 90%;
  }
}

.carré-gris {
  width: 30%;
  background-color: #F6F6F6;
  height: 300px;
  margin: 10px;
}
@media (max-width: 599px) {
  .carré-gris {
    width: 46%;
    height: 150px;
    margin: 10px 5px 10px 5px;
  }
}

.carré-gris:hover {
  background-color: grey;
  transition: 1s;
}

#countdown {
  margin-bottom: 4rem;
}
@media (max-width: 599px) {
  #countdown {
    margin-bottom: 2rem;
  }
}
#countdown > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-variant-caps: small-caps;
  padding-left: 0;
}
@media (max-width: 599px) {
  #countdown > ul {
    flex-flow: row wrap;
  }
}
#countdown > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2em;
  text-align: center;
  width: 200px;
}
@media (max-width: 599px) {
  #countdown > ul > li {
    font-size: 1em;
    padding: 10px;
  }
}
#countdown > ul > li > span {
  color: #486982;
  font-size: 3em;
}
@media (max-width: 599px) {
  #countdown > ul > li > span {
    font-size: 2em;
  }
}

#countdown-index {
  margin-top: 4rem;
}
@media (max-width: 599px) {
  #countdown-index {
    margin-top: 2rem;
  }
}
#countdown-index > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-variant-caps: small-caps;
  padding-left: 0;
}
@media (max-width: 599px) {
  #countdown-index > ul {
    flex-flow: row wrap;
  }
}
#countdown-index > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2em;
  text-align: center;
  width: 33%;
}
@media (max-width: 599px) {
  #countdown-index > ul > li {
    font-size: 1em;
    padding: 10px;
  }
}
#countdown-index > ul > li > span {
  color: #486982;
  font-size: 3em;
}
@media (max-width: 599px) {
  #countdown-index > ul > li > span {
    font-size: 2em;
  }
}

footer {
  background-color: #486982;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
footer > p {
  color: white;
  padding: 0;
  margin: 0;
}
footer > a {
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
}

.save {
  background-color: #486982;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.save__first-line {
  color: white;
  font-weight: 500;
  font-size: 3em;
  font-variant-caps: small-caps;
  padding: 0;
  margin: 0;
}

.save__second-line {
  color: white;
  font-weight: 100;
  font-size: 2em;
  padding-top: 10px;
  margin: 0;
}

.contact-container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  height: 300px;
}
.contact-container > h2 {
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.2em;
  padding: 15px;
}
@media (max-width: 599px) {
  .contact {
    font-size: 1em;
    flex-direction: column;
    text-align: center;
  }
}
.contact__info__mail {
  color: grey;
  font-size: 1em;
  text-align: center;
  font-style: italic;
}

.space {
  width: 10px;
}

.contact__info__mail:hover {
  color: #486982;
}

.italic {
  font-style: italic;
}

.salmon {
  color: #486982;
  font-weight: 600;
}

nav {
  overflow: hidden;
  background-color: white;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.site-header {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  margin: 0 auto 2.427rem;
}

.site-branding {
  flex: 1 0 80%;
  max-width: 80%;
}

.site-title {
  margin: 1.618rem 0 0;
  line-height: 1;
  font-size: 1.3rem;
  font-weight: 400;
  word-break: break-all;
}

.site-header > .top-nav-label {
  flex: 0 0 auto;
}

.main-navigation {
  display: none;
  flex: 1 0 100%;
}

.main-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.main-navigation .menu {
  position: relative;
  border: 0.0625rem solid #dcdcdc;
  width: 100%;
}

.main-navigation .menu::before {
  border-bottom: 0.5625rem solid #dcdcdc;
  border-left: 0.5625rem solid transparent;
  border-right: 0.5625rem solid transparent;
  border-top: 0 solid #dcdcdc;
  right: 0.625rem;
  position: absolute;
  top: -0.5625rem;
}

.main-navigation .menu::after {
  border-color: transparent;
  border-style: solid;
  border-width: 0 0.5rem 0.5rem;
  content: "";
  right: 0.6875rem;
  position: absolute;
  top: -0.4375rem;
}

.main-navigation .menu .menu-item {
  position: relative;
}

.main-navigation .menu .menu-item a {
  background: white;
  border: 0.0625rem solid #486982;
  color: grey;
  display: block;
  padding: 0.809rem 1.618rem;
  text-decoration: none;
}

.main-navigation .menu .menu-item a:hover,
.main-navigation .menu .menu-item a:focus {
  background: #486982;
  color: #efefef;
}

.main-navigation .menu .menu-item a:active {
  background: #486982;
  color: #efefef;
}

.main-navigation .sub-menu {
  display: none;
  border-left: 0.1875rem solid #dcdcdc;
  border-right: 0.1875rem solid #dcdcdc;
}

.menu .menu-item-has-children,
.sub-menu .menu-item-has-children {
  position: relative;
}

.main-navigation .menu .menu-item-has-children a {
  padding: 0.809rem 3.4375rem 0.809rem 1.618rem;
}

/* Hide/Show Main Menu if checkbox unchecked/checked */
.site-header > [type=checkbox]:checked ~ .main-navigation {
  display: block;
}

/* Hide/Show Sub-Menu if checkbox unchecked/checked */
.main-navigation [type=checkbox]:checked ~ ul {
  display: block;
}

/* Toggle buttons */
.top-nav-label {
  cursor: pointer;
  display: block;
  font-size: 0;
  margin: 0;
  overflow: hidden;
  margin: 10px;
  margin-left: auto;
}

.top-nav-label .open-close-menu {
  display: block;
  position: absolute;
  z-index: 99999;
}

.top-nav-label .open-close-menu::before,
.top-nav-label .open-close-menu::after {
  border-radius: 0.1875rem;
  content: "";
  display: block;
  position: absolute;
}

/* Hamburger button */
.site-header > .top-nav-label {
  position: relative;
  right: 0;
  top: 0;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.1875rem;
}

.site-header > .top-nav-label .open-close-menu {
  background: #486982;
  border-radius: 0.1875rem;
  height: 0.25rem;
  left: 0.1875rem;
  right: 0.1875rem;
  top: 1.125rem;
  transition: 0.25s ease-in-out 0s;
}

.site-header > .top-nav-label .open-close-menu::before,
.site-header > .top-nav-label .open-close-menu::after {
  background-color: #486982;
  height: 0.25rem;
  left: 0;
  transition-duration: 0.3s, 0.3s;
  width: 100%;
}

.site-header > .top-nav-label .open-close-menu::before {
  top: -0.6875rem;
  transform-origin: top;
}

.site-header > .top-nav-label .open-close-menu::after {
  bottom: -0.6875rem;
  transform-origin: bottom;
}

/* Hamburger animation */
.site-header > [type=checkbox]:checked ~ .top-nav-label .open-close-menu {
  background: none;
  transition-delay: 0s, 0.3s;
}

.site-header > [type=checkbox]:checked ~ .top-nav-label .open-close-menu::before,
.site-header > [type=checkbox]:checked ~ .top-nav-label .open-close-menu::after {
  left: 0.125rem;
  transition-delay: 0s, 0.3s;
}

.site-header > [type=checkbox]:checked ~ .top-nav-label .open-close-menu::before {
  top: 0;
  transform: rotate(45deg);
}

.site-header > [type=checkbox]:checked ~ .top-nav-label .open-close-menu::after {
  bottom: 0;
  transform: rotate(-45deg);
}

/* Hamburger button hover/focus/active */
.site-header > .top-nav-label:hover,
.site-header > input[type=checkbox]:focus ~ .top-nav-label,
.site-header > input[type=checkbox]:hover ~ .top-nav-label {
  background: #486982;
}

.site-header > .top-nav-label:hover .open-close-menu,
.site-header > .top-nav-label:hover .open-close-menu::after,
.site-header > .top-nav-label:hover .open-close-menu::before,
.site-header > input[type=checkbox]:focus ~ .top-nav-label .open-close-menu,
.site-header > input[type=checkbox]:focus ~ .top-nav-label .open-close-menu::before,
.site-header > input[type=checkbox]:focus ~ .top-nav-label .open-close-menu::after,
.site-header > input[type=checkbox]:hover ~ .top-nav-label .open-close-menu,
.site-header > input[type=checkbox]:hover ~ .top-nav-label .open-close-menu::before,
.site-header > input[type=checkbox]:hover ~ .top-nav-label .open-close-menu::after {
  background: #efefef;
}

.site-header > input[type=checkbox]:checked ~ .top-nav-label:hover .open-close-menu,
.site-header > input[type=checkbox]:checked:focus ~ .top-nav-label .open-close-menu,
.site-header > input[type=checkbox]:checked:hover ~ .top-nav-label .open-close-menu {
  background: none;
}

/* Plus/Minus button */
.main-navigation .menu-item-has-children > .top-nav-label {
  position: absolute;
  right: 0.0625rem;
  top: 0.0625rem;
  height: 3.3125rem;
  width: 3.3125rem;
}

.main-navigation .menu-item-has-children > .top-nav-label .open-close-menu {
  height: 100%;
  width: 100%;
}

.main-navigation .menu-item-has-children > .top-nav-label .open-close-menu::after,
.main-navigation .menu-item-has-children > .top-nav-label .open-close-menu::before {
  background: #486982;
  transition: transform 0.25s ease-out;
}

.main-navigation .menu-item-has-children > .top-nav-label .open-close-menu::before {
  height: 50%;
  left: calc(50% - 0.1875rem / 2);
  top: 25%;
  width: 0.1875rem;
}

.main-navigation .menu-item-has-children > .top-nav-label .open-close-menu::after {
  height: 0.1875rem;
  left: 25%;
  top: calc(50% - 0.1875rem / 2);
  width: 50%;
}

.main-navigation .menu-item-has-children a:hover ~ .top-nav-label,
.main-navigation .menu-item-has-children a:focus ~ .top-nav-label,
.main-navigation .menu-item-has-children a:active ~ .top-nav-label,
.main-navigation .menu-item-has-children:focus-within a ~ .top-nav-label {
  background: #efefef;
}

/* Plus/Minus button animation */
.main-navigation [type=checkbox]:checked ~ .top-nav-label .open-close-menu::before {
  transform: rotate(90deg);
}

.main-navigation [type=checkbox]:checked ~ .top-nav-label .open-close-menu::after {
  transform: rotate(180deg);
}

/* Plus/Minus button hover/focus/active */
.main-navigation .menu-item-has-children > .top-nav-label:hover {
  background: #486982;
}

.main-navigation .menu-item-has-children input[type=checkbox]:focus ~ .top-nav-label {
  background: #486982;
}

.main-navigation .menu-item-has-children > .top-nav-label:hover .open-close-menu::after,
.main-navigation .menu-item-has-children > .top-nav-label:hover .open-close-menu::before,
.main-navigation .menu-item-has-children input[type=checkbox]:focus ~ .top-nav-label .open-close-menu::before,
.main-navigation .menu-item-has-children input[type=checkbox]:focus ~ .top-nav-label .open-close-menu::after {
  background: #efefef;
}

/* Hide and place checkbox over the toggle buttons */
.site-header input[type=checkbox] {
  cursor: pointer;
  display: block;
  opacity: 0;
  position: absolute;
  z-index: 2;
}

.site-header > input[type=checkbox] {
  right: 0.5rem;
  top: 2.75rem;
}

.site-header .menu-item-has-children input[type=checkbox] {
  right: 1rem;
  top: 1rem;
}

/* Display the right label if checkbox checked */
.site-header input[type=checkbox] + .top-nav-label .close-menu,
.site-header input[type=checkbox]:checked + .top-nav-label .open-menu {
  display: none;
}

.site-header input[type=checkbox]:checked + .top-nav-label .close-menu,
.site-header input[type=checkbox] + .top-nav-label .open-menu {
  display: block;
}

@media only screen and (min-width: 37.5em) {
  .site-title {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 64em) {
  .site-branding {
    flex: 1 0 30%;
    max-width: 30%;
  }

  .site-title {
    font-size: 1.8rem;
  }

  .site-header input[type=checkbox],
.site-header .top-nav-label {
    display: none;
  }

  .main-navigation {
    display: block;
  }

  .main-navigation .menu {
    border: none;
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
  }

  .main-navigation .menu::before,
.main-navigation .menu::after {
    display: none;
  }

  .main-navigation .menu > .menu-item {
    margin-left: 0.3125rem;
  }

  .main-navigation .menu .menu-item a {
    background: #fff;
    border: none;
    color: #5D5D5D;
    padding: 0.4045rem 0.809rem;
  }

  .main-navigation .menu .menu-item a:hover {
    background: #fff;
    color: #486982;
  }

  .main-navigation .menu .menu-item a:active {
    color: #0b3d86;
    text-decoration: none;
  }

  .main-navigation .menu-item-has-children > .top-nav-label {
    position: absolute;
    right: 0;
    top: 0;
    height: 2.5625rem;
    width: 2.5625rem;
  }

  .main-navigation .menu-item-has-children a:hover ~ .top-nav-label,
.main-navigation .menu-item-has-children a:focus ~ .top-nav-label,
.main-navigation .menu-item-has-children a:active ~ .top-nav-label,
.main-navigation .menu-item-has-children:focus-within a ~ .top-nav-label {
    background: #fff;
  }

  .main-navigation .menu .menu-item-has-children a {
    padding: 0.4045rem 0.809rem;
  }

  .main-navigation .menu .menu-item-has-children > a::after {
    display: inline-block;
    content: "▼";
    margin-left: 0.4045rem;
    text-decoration: none;
    position: relative;
  }

  /* Show submenu on hover/focus */
  .main-navigation .menu-item-has-children > a:hover ~ ul,
.main-navigation .menu-item-has-children:hover > a ~ ul,
.main-navigation .menu-item-has-children > a ~ ul:hover,
.main-navigation .menu-item-has-children > a:focus ~ ul {
    display: block;
    z-index: 999;
    pointer-events: auto;
  }

  /* Same rules - Focus-within not supported by Edge/IE. Unsupported selectors cause the entire block to be ignored, so we must repeat all styles separately. */
  .main-navigation .menu-item-has-children:focus-within > a ~ ul {
    display: block;
    z-index: 999;
  }

  .main-navigation .sub-menu {
    min-width: 100%;
    position: absolute;
    border: 0.0625rem solid #dcdcdc;
  }

  .main-navigation .sub-menu::before {
    border-bottom: 0.5625rem solid #dcdcdc;
    border-left: 0.5625rem solid transparent;
    border-right: 0.5625rem solid transparent;
    border-top: 0 solid #dcdcdc;
    content: "";
    left: 30%;
    position: absolute;
    top: -0.5625rem;
  }

  .main-navigation .sub-menu::after {
    border-color: #fff transparent;
    border-style: solid;
    border-width: 0 0.5rem 0.5rem;
    content: "";
    left: calc(30% + 0.0625rem);
    position: absolute;
    top: -0.4375rem;
  }

  .main-navigation .sub-menu .sub-menu::before,
.main-navigation .sub-menu .sub-menu::after {
    display: none;
  }

  .main-navigation .sub-menu .menu-item-has-children > a::after {
    content: "◄";
    vertical-align: top;
  }

  .main-navigation .sub-menu ul {
    left: -100%;
    top: 0;
    max-width: 100%;
  }
}
@media only screen and (min-width: 64em) and (any-pointer: coarse) {
  .main-navigation .menu .menu-item-has-children a {
    padding-right: 3rem;
  }

  .site-header .menu-item-has-children .top-nav-label {
    display: block;
  }

  .site-header .menu-item-has-children input[type=checkbox] {
    display: block;
    right: 0.625rem;
    top: 0.625rem;
  }

  .main-navigation .menu-item-has-children > a:focus ~ ul,
.main-navigation .menu-item-has-children > input[type=checkbox]:not(:checked):focus ~ ul {
    display: none;
  }

  .main-navigation .menu .menu-item-has-children > a::after,
.main-navigation .sub-menu .menu-item-has-children > a::after {
    display: none;
  }
}
@media only screen and (min-width: 100em) {
  .site {
    max-width: 80rem;
  }

  .site-title {
    font-size: 2rem;
  }

  .main-navigation .sub-menu ul {
    left: 100%;
    top: 0;
    max-width: 100%;
  }

  .main-navigation .sub-menu .menu-item-has-children > a::after {
    content: "►";
  }
}
.home {
  margin: 10px;
}

.prog-img {
  background-image: url("/public/img/Photo M+G .JPG");
  min-height: 400px;
  width: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 599px) {
  .prog-img {
    width: 100%;
    min-height: 200px;
  }
}

.prog {
  margin-left: auto;
  margin-right: auto;
}

.prog-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 599px) {
  .prog-container {
    flex-direction: column;
  }
}

.histoire {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 599px) {
  .histoire {
    flex-direction: column;
  }
}
.histoire > p {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 599px) {
  .histoire > p {
    width: 80%;
    font-size: 0.8em;
    padding: 0%;
  }
}

.prog__child {
  margin-right: auto;
  margin-left: auto;
}

.planning {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  text-align: center;
}
.planning__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}
@media (max-width: 599px) {
  .planning__container {
    flex-direction: column;
  }
}
.planning__container > p {
  padding: 0;
  margin: 0;
  color: #486982;
}
.planning__container__place {
  color: #5D5D5D;
}
@media (max-width: 599px) {
  .planning__container__place {
    width: 100%;
  }
}
.planning__container__place > h2 {
  font-variant-caps: small-caps;
}
.planning__container__place > p {
  font-size: 1em;
  line-height: 0.7;
}
@media (max-width: 599px) {
  .planning__container__place > p {
    line-height: 1.2;
  }
}
.planning__container__place__lines {
  display: flex;
  flex-direction: column;
  color: #5D5D5D;
  text-align: center;
  padding-bottom: 20px;
}
.planning__container__place__lines__event {
  text-align: justify;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.height-planning {
  height: 800px;
}
@media (max-width: 599px) {
  .height-planning {
    height: 500px;
  }
}

.fas {
  color: #486982;
  font-size: 1em;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.wedding-list {
  min-height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 599px) {
  .wedding-list {
    flex-direction: column;
  }
}
.wedding-list__article {
  display: flex;
  flex-direction: column;
  background-color: #F8ECE7;
  border-radius: 3ex;
  width: 23%;
}
@media (max-width: 599px) {
  .wedding-list__article {
    width: 90%;
    margin: 5%;
  }
}
.wedding-list__article__photo {
  border-radius: 3ex 3ex 0 0;
  margin-bottom: 10px;
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 599px) {
  .wedding-list__article__photo {
    height: 200px;
  }
}
.wedding-list__article__text {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px;
}
.wedding-list__article__text__title {
  font-weight: 700;
  width: 100%;
}
.wedding-list__article__text__brand {
  color: #5D5D5D;
  width: 70%;
  padding-top: 10px;
  margin-top: auto;
  padding-bottom: 10px;
}
.wedding-list__article__text__price {
  color: grey;
  width: 30%;
  text-align: right;
  margin-top: auto;
  padding-bottom: 10px;
}

form:invalid {
  background: red;
}

.label-form {
  font-size: 1.4em;
  color: #5D5D5D;
}

.form-line {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 30px 10px 0 10px;
}

.form-control {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #c8c8c8;
  margin: 10px;
  width: auto;
  padding-left: 40%;
  padding-bottom: 20px;
}
@media (max-width: 599px) {
  .form-control {
    padding-left: 0;
    padding-bottom: 0;
  }
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.form {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}
@media (max-width: 599px) {
  .form {
    width: auto;
  }
}

.participation-option-container {
  flex-direction: column;
}

.participation-options {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#submit {
  font-size: 0.7em;
  margin-bottom: 150px;
  margin-top: 40px;
}

/* Customize the label (the container) */
.checkboxed {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxed input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxed:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxed input:checked ~ .checkmark {
  background-color: #486982;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxed input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxed .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

button {
  background-color: #486982;
  width: 10%;
  padding: 20px;
  border: none;
  margin: 10px 10px 10px auto;
  border-radius: 1em;
}
button > i {
  color: white;
  font-size: 1.3em;
  font-weight: 400;
}

button:hover {
  background-color: #C9DDEE;
  cursor: pointer;
  color: #486982;
}

button:hover.i {
  color: #5D5D5D;
}

.join__line {
  font-size: 1.5em;
  text-align: center;
}
.join__types {
  font-size: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  padding: 40px;
}
@media (max-width: 599px) {
  .join__types {
    flex-direction: column;
    flex-wrap: no-wrap;
  }
}
.join__types__explain {
  width: 50%;
}
@media (max-width: 599px) {
  .join__types__explain {
    width: 100%;
  }
}
.join__types__explain__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
}
.join__types__explain__container > .fas {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
