@charset "UTF-8";
a {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.parallax {
  /* The image used */
  background-image: url("./public/img/lieu/dessin-lieu.jpeg");
  /* Set a specific height */
  min-height: 900px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 599px) {
  .parallax {
    background-size: contain;
    min-height: 350px;
    background-attachment: unset;
    padding-top: 0;
    background-position: bottom;
  }
}

body {
  font-family: "Avenir", sans-serif;
}

h1 {
  font-family: "Retro", sans-serif;
  font-size: 8em;
  text-align: center;
  margin: 0;
  font-weight: 100;
  background-attachment: fixed;
}
@media (max-width: 599px) {
  h1 {
    font-size: 5em;
  }
}

.names {
  padding-top: 170px;
}
@media (max-width: 599px) {
  .names {
    padding-top: 0;
  }
}

h1:hover {
  color: #E1AB97;
  font-weight: 200;
  transition: 0.3s;
}

p {
  font-family: "Avenir", sans-serif;
  font-size: 1.3em;
  text-align: center;
  color: #5D5D5D;
}

@font-face {
  font-family: "Retro";
  src: url("./retro_signature/RetroSignature.otf");
}
.favourite {
  border: none;
  background: none;
  align-self: center;
}

.fa-heart:hover::before, .fa-heart:active::before {
  background: linear-gradient(#9356DC, #FF79DA);
  font-weight: bold;
  /*background prend la forme du coeur*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.carré-gris-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: center;
  flex-flow: row wrap;
  padding: 30px;
}

.carré-gris {
  width: 30%;
  background-color: #F6F6F6;
  height: 300px;
  margin: 10px;
}

.carré-gris:hover {
  background-color: grey;
  transition: 1s;
}

.save {
  background-color: #E1AB97;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.save__first-line {
  color: white;
  font-weight: 500;
  font-size: 3em;
  font-variant-caps: small-caps;
  padding: 0;
  margin: 0;
}

.save__second-line {
  color: white;
  font-weight: 100;
  font-size: 2em;
  padding-top: 10px;
  margin: 0;
}

nav {
  margin-left: auto;
  margin-right: 40px;
}

#menu {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
  width: 100%;
  justify-content: space-around;
}
@media (max-width: 599px) {
  #menu {
    flex-direction: column;
    margin-left: auto;
    text-align: right;
    padding-right: 20px;
  }
}

.title-menu {
  padding: 40px 47px 0 47px;
  color: grey;
  display: flex;
  text-align: center;
}

.title-menu:hover {
  color: #E1AB97;
}

li {
  list-style: none;
  color: black;
}

ol {
  list-style: none;
  color: black;
}

.histoire__photo {
  background-image: url("./public/img/photos/photo-n&b.jpeg");
  min-height: 600px;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.histoire {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.histoire > p {
  width: 40%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

.planning {
  display: flex;
  padding-top: 20px;
}
.planning__container {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 20px;
  width: 100%;
  justify-content: space-evenly;
}
.planning__container__place {
  color: #5D5D5D;
}
.planning__container__place > h2 {
  font-variant-caps: small-caps;
}
.planning__container__place > p {
  font-size: 1em;
  line-height: 0.7;
}
.planning__container__place__lines {
  display: flex;
  flex-direction: column;
  color: #5D5D5D;
  text-align: center;
  padding-bottom: 20px;
}
.planning__container__place__lines__event {
  text-align: justify;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.fas {
  color: #E1AB97;
  font-size: 1.5em;
  width: 50px;
}

/*# sourceMappingURL=style.css.map */
