a {
  text-decoration: none;
  color: black;
}

.img-1 {
  background-image: url("../public/img/lieu/dessin-lieu.jpeg");
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 599px) {
  .img-1 {
    background-size: contain;
  }
}

a {
  text-decoration: none;
  color: black;
}

.parallax {
  /* The image used */
  background-image: url("./public/img/lieu/dessin-lieu.jpeg");
  /* Set a specific height */
  min-height: 800px;
  padding-top: 80px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 599px) {
  .parallax {
    background-size: contain;
    min-height: 350px;
    background-attachment: unset;
    padding-top: 0;
  }
}

body {
  font-family: "Avenir", sans-serif;
}

h1 {
  font-family: "Retro", sans-serif;
  font-size: 10em;
  text-align: center;
  margin: 0;
  font-weight: 100;
  background-attachment: fixed;
  padding-top: 100px;
}
@media (max-width: 599px) {
  h1 {
    font-size: 5em;
    padding-top: 0;
  }
}

h1:hover {
  color: #E1AB97;
  font-weight: 200;
  transition: 0.3s;
}

p {
  font-family: "Avenir", sans-serif;
  font-size: 1.3em;
  text-align: center;
  color: #5D5D5D;
}

@font-face {
  font-family: "Retro";
  src: url("./retro_signature/RetroSignature.otf");
}
.favourite {
  border: none;
  background: none;
  align-self: center;
}

.fa-heart:hover::before, .fa-heart:active::before {
  background: linear-gradient(#9356DC, #FF79DA);
  font-weight: bold;
  /*background prend la forme du coeur*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

footer {
  background: #353535;
  padding-bottom: 30px;
}

.logo--footer {
  padding: 25px;
}

.line-footer {
  padding: 10px 10px 10px 30px;
  display: flex;
  flex-direction: row;
}
@media (min-width: 599px) {
  .line-footer {
    padding: 10px 30px 10px 30px;
  }
}
.line-footer h5 {
  color: white;
  margin: 0;
}

.icon-footer {
  color: white;
  width: 20px;
  padding: 0 20px 0 0;
}

@media (min-width: 599px) {
  .menu-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.save {
  background-color: #E1AB97;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.save__first-line {
  color: white;
  font-weight: 500;
  font-size: 3em;
  font-variant-caps: small-caps;
  padding: 0;
  margin: 0;
}

.save__second-line {
  color: white;
  font-weight: 100;
  font-size: 2em;
  padding-top: 10px;
  margin: 0;
}

nav {
  margin-left: auto;
  margin-right: 40px;
}

#menu {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
  width: 100%;
  justify-content: space-around;
}
@media (max-width: 599px) {
  #menu {
    flex-direction: column;
    margin-left: auto;
    text-align: right;
    padding-right: 20px;
  }
}

.title-menu {
  padding: 40px 47px 0 47px;
  color: grey;
}

.title-menu:hover {
  color: #E1AB97;
}

li {
  list-style: none;
  color: black;
}

ol {
  list-style: none;
  color: black;
}

/*# sourceMappingURL=style.css.map */
