.carré-gris-container{
   display:flex;
   justify-content: space-between;
   width:100%;
   align-content: center;
   flex-flow: row wrap;
   padding:30px;
   @media (max-width: 599px) {
    padding:10px;
    width:90%;
    }
}

.carré-gris{
    width:30%;
    background-color: $colour-grey-light;
    height:300px;
    margin:10px;
    @media (max-width: 599px) {
        width:46%;
        height:150px;
        margin:10px 5px 10px 5px;
        }
}

.carré-gris:hover{
    background-color: grey;
    transition: 1s;
}

