a
{
    text-decoration: none;
    color: black;
}

a {
  text-decoration: none;
  color: black;
}

.parallax {
    /* The image used */
    background-image: url("./public/img/lieu/GARANCE-MAXIME.jpg");
    /* Set a specific height */
    min-height: 900px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 599px) {
      background-size: contain;
      min-height: 450px;
      background-attachment: unset;
      padding-top:0;
      background-position: bottom;
      }
  }

  .img-liste{
    background-image: url("/public/img/M+G\ Bateau.JPG");
    min-height: 500px;
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 50px;
    margin-top: 50px;
    @media (max-width: 599px) {
        width:100%;
        min-height: 200px;
        }
  }

  .gift{
    color: white;
    text-align: center;
    font-weight: 500;
    padding: 10px 20px 10px 20px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    @media (max-width: 599px) {
      }
  }

  .list{
  display:flex;
  flex-direction:column;
  justify-content: center;
  text-align:center;
  width: auto;
  }