a
{
    text-decoration: none;
    color: black;
}
.img {
    background-size: cover;
    background-position: center;
    height: 500px;
    width:100%;
}

.img-1{
    background-image: url("../public/img/lieu/dessin-lieu.jpeg");
    width: 80%;
    margin-right:auto;
    margin-left:auto;
}

  a {
    text-decoration: none;
    color: black;
  }


.parallax {
    /* The image used */
    background-image: url("./public/img/lieu/dessin-lieu.jpeg");
  
    /* Set a specific height */
    min-height: 800px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }