body {
    font-family: 'Avenir', sans-serif;
}

h1 {
    font-family: 'Retro', sans-serif;
    font-size:8em;
    text-align: center;
    margin: 0;
    font-weight:100;
    background-attachment: fixed;
    @media (max-width: 599px) {
        font-size:5em;
        }
}
.names{
    padding-top: 80px;
    @media (max-width: 599px) {
        padding-top: 0;
        }
}

h1:hover {
    color:$salmon;
    font-weight: 200;
    transition: 0.3s;
}

p {
    font-family: 'Avenir', sans-serif;
    font-size:1.3em;
    text-align: center;
    color: $colour-dark-grey;
}

@font-face {
	font-family: "Retro";
	src: url("./retro_signature/RetroSignature.otf");
}

.h2{
    color: $colour-dark-grey;
    font-weight: 100;
    font-size: 2em;
    text-align:center;
}