
@font-face {
	font-family: "Notera";
	src: url("./public/font/Notera_PersonalUseOnly.ttf");
}

@font-face {
	font-family: "Priyati";
	src: url("./public/font/Priyati-Regular.ttf");
}

body {
    font-family: 'Priyati', 'Times', serif;
    font-size: 2em;
    @media (max-width: 599px) {
        width: 90%;
        margin-right:auto;
        margin-left:auto;
        }
}

h1 {
    font-family: 'Notera', sans-serif;
    font-size: 4.5em;
    text-align: center;
    margin: 0;
    font-weight:100;
    background-attachment: fixed;
    @media (max-width: 599px) {
        font-size:2em;
        }
}
.names{
    padding-top: 80px;
    @media (max-width: 599px) {
        padding-top: 0;
        }
}

h1:hover {
    color:$salmon;
    font-weight: 200;
    transition: 0.3s;
}

p {
    font-family: 'Priyati', sans-serif;
    font-size:1.3em;
    text-align: center;
    color: $colour-dark-grey;
}


h2{
    color: $colour-dark-grey;
    font-weight: 100;
    font-size: 3em;
    text-align: center;
    margin: 10px;
    @media (max-width: 599px) {
        font-size: 1.5em;
        width:100%;
        }
}

h3{
    font-family: 'Notera', serif;
    text-align: center;
    font-size: 2em;
    margin: 0;
    font-weight:100;
    background-attachment: fixed;
    padding-top: 20px;
    margin: 50px;
    @media (max-width: 599px) {
        font-size:2em;
        }
}