$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-grey: #EAEAEA;
$colour-grey-light: #F6F6F6;
$colour-dark-grey: #5D5D5D;
$colour-box-shadow: #dbdbdb ;
$salmon:#4D5043;
$pink:#C3CBC3;
$salmon-blue: #486982;
$salmon-true: #E1AB97;
$pink-blue: #C9DDEE;
$pink-true: #F8ECE7;
$tie-and-dye: linear-gradient($colour-secondary, $colour-primary);